<%- include("partials/header"); -%>

    <div class="container contact">

        <h1><%= pageTitle %></h1>

        <p>Estamos ansiosos para ouvir de você! Se você tiver alguma dúvida, sugestão ou apenas quiser dizer oi, estamos aqui para ajudar. Entre em contato conosco usando as informações abaixo:
            <p class="bold">
                E-mail: info@seudominioblog.com <br>
                Telefone: +1 (555) 123-4567</p>

        <p>Você também pode se conectar conosco nas redes sociais:</p>

        <p class="bold">Twitter: @SeuHandleDoBlog <br>
            Facebook: /SuaPáginaDoBlog <br>
            Instagram: @SeuNomeDeUsuárioDoBlog</p>

        <p>Para consultas de imprensa ou oportunidades de colaboração, por favor, entre em contato com nossa equipe de imprensa:</p>

        <p class="bold">E-mail: imprensa@seudominioblog.com</p>

        <p>Valorizamos seus comentários e nos esforçamos para responder a todas as consultas dentro de 24 a 48 horas. Por favor, tenha paciência, pois às vezes podemos receber um grande volume de mensagens.</p>

        <p>Agradecemos por visitar nosso blog e pelo seu apoio contínuo!

        </p>


    </div>

    <%- include("partials/footer"); -%>