<%- include("partials/header"); -%>

    <div class="container home">

        <h1><%= pageTitle %></h1>
        <p class="bold">Bem-vindo ao Nosso Blog! <br>

        <p>Seja bem-vindo(a) ao nosso blog, o lugar perfeito para encontrar inspiração, conhecimento e entretenimento.
            Aqui, compartilhamos histórias fascinantes, dicas valiosas e conteúdos que vão enriquecer sua vida.<br>

        <p>Explore nosso blog e descubra uma variedade de artigos sobre diversos temas, desde viagens incríveis até as
            últimas tendências de moda. Nossa equipe apaixonada trabalha duro para trazer conteúdo relevante e
            envolvente, sempre visando informar e divertir nossos leitores.<br>

        <p>Além disso, incentivamos a participação ativa da nossa comunidade. Queremos ouvir suas opiniões, sugestões e
            experiências. Deixe seus comentários nos artigos e compartilhe suas ideias nas redes sociais.<br>

        <p>Fique por dentro das novidades assinando nossa newsletter para receber os melhores conteúdos diretamente em
            sua caixa de entrada. Não perca nenhuma atualização!<br>

        <p>Agradecemos por nos escolher como sua fonte de informação e entretenimento. Esperamos que aproveite cada
            momento em nosso blog e que encontre inspiração para viver uma vida mais plena e feliz.<br>

        <p>Divirta-se explorando nosso blog e não hesite em nos contatar caso precise de alguma ajuda ou tenha alguma
            pergunta.<br>

        <p ><strong>Bem-vindo(a) ao nosso universo de descobertas!</strong></p>

    </div>

    <Section class="posts">

    </Section>

    <%- include("partials/footer"); -%>